.ff{
  background-color:rgb(144, 238, 144);
}
.nn{
  font-family: 'Playfair Display', serif;
}
.nnn{
  font-family: 'lemon',serif;
}
#example-collapse-text{
  font-family: 'Playfair Display', serif;
}